<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="Phalclate Suite">
            <directory>Tests</directory>
            <exclude>Tests/Cache</exclude>
        </testsuite>
    </testsuites>
</phpunit>
