<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>

    <testsuites>
        <testsuite name="Phalclate Suite">
            <directory>./Tests</directory>
            <exclude>./Tests/Cache</exclude>
        </testsuite>
    </testsuites>
</phpunit>